<section class="slider" id="slider-1">
	<div class="slider-wrapper">
		<ul id="image-slider">
			<li class='b-s first'>
				<div class="b-s-wrapper">
					<img src="/img/banners/hero.jpg" alt="Туалетная вода Paco Rabanne 1 Million для мужчин">
					<div class="b-s-text">
						<h3 class="b-s-title">Paco Rabanne 1 Million</h3>
						<span class="b-s-description">Аромат для настоящих мужчин. Свежий древесный аромат добавит роскоши в повседневную жизнь обладателя.</span>
						<span class="b-s-button link_to hvr-sweep-to-right" data-anchor="2" data-move-slide="2" ng-click="showDetails('56c3d2bb82cffa0dee000072', 'product')">Подробнее</span>
					</div>
				</div>
			</li>
			<li class='b-s second'>
				<div class='b-s-wrapper'>
					<img src="/img/banners/hero1.jpg" alt="Туалетная вода Chanel Allure Edition Blanche для мужчин">
					<div class="b-s-text">
						<h3 class="b-s-title">Chanel Allure Edition Blanche</h3>
						<span class="b-s-description">Отличное дополнение к вашей сексуальности. Свежий и читый аромат не даст угаснуть страсти внутри вас.</span>
						<span class="b-s-button link_to hvr-sweep-to-right" data-anchor="2" data-move-slide="2" ng-click="showDetails('56c1496282cffa2f8200003c', 'product')">Подробнее</span>
					</div>
				</div>
			</li>
			<li class='b-s third'>
				<div class='b-s-wrapper'>
					<img src="/img/banners/hero2.jpg" alt="Туалетная вода Dior Poison Hypnotic Eau Sensuelle для женщин">
					<div class="b-s-text">
						<h3 class="b-s-title">Dior Poison Hypnotic Eau Sensuelle</h3>
						<span class="b-s-description">Окружите себя вниманием окружающих благодаря женственности, которую дарит этот аромат. Никто не останется в стороне.</span>
						<span class="b-s-button link_to hvr-sweep-to-right" data-anchor="2" data-move-slide="2" ng-click="showDetails('56c15d1582cffa2f82000075', 'product')">Подробнее</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>