<div class="brends-menu">
	<div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Angel Schlesser" class="ng-binding">Angel Schlesser</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Antonio Banderas" class="ng-binding">Antonio Banderas</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Armand Basi" class="ng-binding">Armand Basi</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Armani" class="ng-binding">Armani</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Azzaro" class="ng-binding">Azzaro</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Beyonce" class="ng-binding">Beyonce</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Burberry" class="ng-binding">Burberry</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Bvlgari" class="ng-binding">Bvlgari</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Cacharel" class="ng-binding">Cacharel</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Calvin Klein" class="ng-binding">Calvin Klein</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Carolina Herrera" class="ng-binding">Carolina Herrera</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Cerruti" class="ng-binding">Cerruti</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Chanel" class="ng-binding">Chanel</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Chloe" class="ng-binding">Chloe</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Christian Dior" class="ng-binding">Christian Dior</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Christina Aguilera" class="ng-binding">Christina Aguilera</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Clinique" class="ng-binding">Clinique</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Davidoff" class="ng-binding">Davidoff</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Dolce u0026 Gabbana" class="ng-binding">Dolce u0026 Gabbana</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Donna Karan (Dkny)" class="ng-binding">Donna Karan (Dkny)</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Elizabeth Arden" class="ng-binding">Elizabeth Arden</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Escada" class="ng-binding">Escada</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Fendi" class="ng-binding">Fendi</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Gian Marco Venturi" class="ng-binding">Gian Marco Venturi</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Givenchy" class="ng-binding">Givenchy</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Gucci" class="ng-binding">Gucci</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Guerlain" class="ng-binding">Guerlain</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Hugo Boss" class="ng-binding">Hugo Boss</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Kenzo" class="ng-binding">Kenzo</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Lacoste" class="ng-binding">Lacoste</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Lancome" class="ng-binding">Lancome</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Lanvin" class="ng-binding">Lanvin</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Max Mara" class="ng-binding">Max Mara</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Mexx" class="ng-binding">Mexx</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Moschino" class="ng-binding">Moschino</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Naomi Campbell" class="ng-binding">Naomi Campbell</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Narciso Rodriguez" class="ng-binding">Narciso Rodriguez</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Nina Ricci" class="ng-binding">Nina Ricci</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Paco Rabanne" class="ng-binding">Paco Rabanne</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Prada" class="ng-binding">Prada</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Roberto Cavalli" class="ng-binding">Roberto Cavalli</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Sergio Tacchini" class="ng-binding">Sergio Tacchini</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Shiseido" class="ng-binding">Shiseido</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Trussardi" class="ng-binding">Trussardi</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="ValentinО" class="ng-binding">ValentinО</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="Versace" class="ng-binding">Versace</span>
	</div><div class="link_to sub-category-div c-pager-0 ng-scope" data-anchor="2" data-move-slide="1" ng-click="setCurrentBrand(brand)">
		<span title="YSL" class="ng-binding">YSL</span>
	</div>
	<span class="clearer"></span>
</div>