<footer>
	<div class="s-f-wrapper">
		<div class="s-f-container">
			<div class="s-f-top">
				<div class="s-f-left">
					<div class="s-f-left-title">
						<h2>Гарантия возврата!</h2>
					</div>
					<div class="s-f-left-content">
						<p>Мы заботимся о наших клиентах. Поэтому мы гарантируем 100% возврат денег, если Вам не подойдет или не понравится аромат, который вы заказали при условии, что упаковка, в том числе и целлофановая, не повреждена.</p>
					</div>
					
					<div class="s-f-separator"></div>
					
					<div class="s-f-left-title second">
						<h2>Контакты</h2>
					</div>
					<div class="s-f-left-content second">
						<p><strong>Телефоны:</strong> +375 29 537 32 63 МТС, +375 25 937 32 63 Life;)</p>
						<p><strong>VK:</strong><a href="https://vk.com/luxparfum_by" target="_blank"> Наша группа в VK</a></p>
						<p><strong>Viber:</strong> +375 29 537 32 63</p>
						<p><strong>Skype:</strong> luxparfum.by</p>
						<p><strong>Email:</strong> order@luxparfum.by</p>
					</div>
				</div>
				<div class="s-f-right">
					<div class="s-f-right-title">
						<h2>Бесплатная доставка!</h2>
					</div>
					<div class="s-f-right-content">
						<p>Доставка <strong>по городу Минску абсолютно бесплатная </strong>и осуществляется с 14:00 до 23:00. Сообщите менеджеру предпочитаемое время доставки и мы сделаем все возможное чтобы вы получили заказ именно в этом время!</p>
						
						<p>Доставка <strong>по Беларуси тоже абсолютно бесплатная</strong>. Посылка доставляется через РУП "Белпочта" в течение 3 дней. Оплата производится при получении посылки. Все заказы упаковываются в противоударные конверты или коробки с пометной "осторожно", это гарантирует, что с Вашей посылкой в пути ничего не случится!</p>
						<p><strong>При самовывозе скидка 5%.</strong> Сообщите менеджеру о Вашем желании забрать заказ самостоятельно.</p>
					</div>
				</div>
			</div>
			
			<div class="s-f-center">
				<div class="s-f-thanks">
					Приятных покупок!
				</div>
			</div>
			
			<div class="s-f-bottom">
				<div class="s-f-full">
					<div class="phones">
						<p>
							<span class="phone code">+375 25</span>
							<span class="phone number">937 32 63</span>

						</p>
						<p>
							<span class="phone code">+375 29</span>
							<span class="phone number">537 32 63</span>
						</p>
						<p>
							<span class="vremya">9.00 - 24.00, без выходных</span>
						</p>
					</div>
					<div class="s-f-left-content">
						<p>Весь товар сертифицирован.</p>
						<p>ИП Васильев Евгений Сергеевич. Свидетельство о регистрации № 192555396, выдано 26 октября 2015 года Минским горисполкомом. Магазин зарегистрирован в торговом реестре 11 февраля 2016 года.</p>
					</div>
					
					
	
				</div>
				<div class="s-f-copyright">
					&copy; 2015-2016 <a ng-href="http://luxparfum.by"><font color="gray">Luxparfum.by - Туалетные и парфюмированные воды.</font></a>
				</div>
			</div>
		</div>
	</div>
</footer>