
<section class="b-p-wrapper" id="slide-2">
	<div class="b-p-container">
		<div class="l-t-back popular">
			<span class="link_to" data-anchor="2" data-move-slide="0" title="Назад">&#9664;</span>
		</div>
		<div class="b-p-left">
			<div class="b-p-left-insider link_to" data-anchor="2" data-move-slide="2" ng-click="setCurrentCategory('Мужские')">
			</div>
		</div>
		<div class="b-p-center">
			<div class="b-p-center-insider link_to" data-anchor="2" data-move-slide="2" ng-click="setCurrentCategory(null)">
			</div>
		</div>
		<div class="b-p-right">
			<div class="b-p-center-insider link_to" data-anchor="2" data-move-slide="2" ng-click="setCurrentCategory('Женские')">
			</div>
		</div>
	</div>
</section>
